html{
	background: url(e.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 5em;
	text-align: center;
	color: red;
	font-style: bold;
}

img{
	position: absolute;
	top: 50%;
	left: 3%;
}